SECRET_KEY=supersecretkey
REFRESH_SECRET_KEY=superrefreshkey
DB_URI=mongodb://localhost:27017/clone_me
DB_NAME=clone_me
OLLAMA_MODEL=phi
FLASK_DEBUG=true
PORT=5000
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_SECONDS=60
